{% extends "mail/layout.html" %}

{% block body %}

<br>
<br>

    <h2 id="login"> Login to your E-mail</h2>



    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <br>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <div class="relative">



          <div id="box" class="form-group">
              <input autofocus class="form-control" type="email" name="email" placeholder="Email">
          </div>
          <div id="box" , class="form-group">
              <input class="form-control" type="password" name="password" placeholder="Password">
          </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Login">
    </form>

    <a style="color:white">Don't have an account?<a style="color: aqua;" href="{% url 'register' %}">get it Register here.</a>

{% endblock %}
