{% extends "mail/layout.html" %}

{% block body %}
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
   
    <section>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box1">
            <div class="square" style="--i:0;"></div>
            <div class="square" style="--i:1;"></div>
            <div class="square" style="--i:2;"></div>
            <div class="square" style="--i:3;"></div>
            <div class="square" style="--i:4;"></div>
            <div class="container1">
                <div class="form">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <h2>Login</h2>
                    <div class="inputbox">
                        <input  type="email" name="email" placeholder="Email">
                    </div>
                    <div class="inputbox">
                        <input  type="password" name="password" placeholder="Password">
                    </div>
                    <div class="inputbox">
                        <input  type="submit" value="Login">
                    </div>
                    <p class="forget" style="color: black;"> Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
                </form>
            </div>
            </div>
        </div>
    </section>




{% endblock %}
