textarea {
    min-height: 400px;
}
.email-holder {
    margin: 0;
    margin-bottom: 2px;
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.read-true {
    background-color: lightgrey;
}

.email-buttons {
    margin: 0;
}

.email-buttons .btn {
    margin-right: 5px;
}
#login {

  width: 23%;
  opacity: 0.8;
  background-color: powderblue;
}
#dsg{

  text-align:right;
  color:purple;
}
